html {
    background-color: rgb(247, 141, 79);
}

h1 {
    color: darkgreen;
    background-color: red;
    font-size: 42px;
    text-align: center;
}

h2 {
    font-size: 36px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
}

p {

    font-size: 24px;
}

li {

    font-style: oblique;
}



